images/
site/
docs/
src/
build/
coverage/
.github/
.vscode/
*.tgz
public/
cypress/
.babelrc
.env
.eslintrc.json
.travis.yaml
*tsconfig.json
cypress.json
package-lock.json
tslint.json
typedoc.json
webpack.*
node_modules

# ignore certain dist files
dist/src/content/
dist/src/routes/
dist/src/index.js

# not this one
!dist/src/naiveasync